<div class="wrapper-box">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-3">
				<h3 class="font-weight-bold">Hi, I'm Luka. Nice to meet you!</h3>
			</div>
			<div class="col-6 about-me">
				<p>
					I'm from Belgrade, Serbia where I work as a full stack developer. I have over 3 years of experience with
					Angular, .NET Core and SQL Server and have recently started getting into Node.js and React as well.
				</p>
				<p>
					I have developed and maintained over half a dozen enterprise applications, with great passion for clean and
					minimalist design as well as elegant and organized code.
				</p>
				<p>In my spare time, I enjoy overlanding, working on side projects and solving cast puzzles.</p>
			</div>
		</div>
	</div>
</div>
