@import 'variables';

.container {
	color: $black;

	.hero-wrapper {
		text-align: center;
		height: 100vh;

		.hero-title {
			margin-top: 10%;
			position: relative;

			.main-illustration {
				padding-top: 10%;
				padding-left: 30px;
				padding-right: 30px;

				img {
					width: 100%;
				}
			}

			h1 {
				font-size: 57px;
				font-weight: bold;
			}

			h4 {
				a {
					color: $black;
					font-weight: bold;
				}
			}

			@media (max-width: 430px) {
				h1 {
					font-size: 40px !important;
				}

				h4 {
					font-size: 17px !important;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 800px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width: 775px;
	}
}
